<form action="/prehistoric_creatures %>/?_method=PUT" method="POST">
    <label for="creatureName">Name</label>
    <input type="text" id="creatureName" name="type" value="<%= creatures.type %>"> 

    <label for="creaturesImg">Type</label>
    <input type="image" id="creatureImg" name="img_url" value="<%= creatures.img_url %>" >

    <input type="submit" value="Update Creatures">
</form>