<form action="/prehistoric_creatures" method="POST">
    <label for="creaturesName">Name:</label>
    <input type="text" id="creatureName" name="type"> 

    <label for="creatureImg">Image Link:</label>
    <input type="text" id="creatureImg" name="img_url">

    <input type="submit" value="Add a creature">
</form>